

@media (max-width:682px){
 

    nav{
            padding: 20px 40px;

    }
    .header{
        height: 12vh;
    }
    .section1{

        padding:  120px 10px;
    }

    .manue-bar{
        margin-right: 10px;
    }
    .return{
        width: 100%;
    }
    .hero-left h1{
        font-size: 30px;
        font-weight: 700;
    }
    .section2{
                  margin-top: 400px;

    }
    .product1{
        width: 100%;
        height: 1000px;
    }
    .img1{
        width: 100%;
    }
    .img2{
        width: 100%;
    }.img3{
        width: 100%;
    }
    .img4{
        width: 100%;
    }
    .product2{
        width: 99%;
        margin-left: 0px;
        height: 300px;
    }
    .contant1{
        margin-top: 100px;
    }
    .section3{
        width: 100%;
        height: 2200px;
        padding: 0px 10px;
        gap: 60px;
    }
    .item1{
        width: 100%;
    }
    .section4{
        width: 100%;
        height: 2900px;
        padding: 0px 10px;
        gap: 0px;
    }
.section5{
    width: 100%;

}
.section5-box1{
    width: 100%;
}
    .box2-button{
        padding: 10px 100px;
    }
    .section5-box2 h1{
   padding: 20px 0px;
 }
 .section5-box2 img{
    width: 50%;
 }
 .time-box{
    margin-left: 30px;
 }
 .section5-box2{
    height: 570px;
 }
 .section6{
    top: 10px;
 }
 .hidden{
    display: none;
 }
}